.wp-hero {
  min-width: 100vw;
  max-height: 800px;
  min-height: 500px;
  height: 100%;
  background: url(../images/bg01.png) no-repeat;
  background-size: cover;
  .cont-wp {
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
    img {
      width: 70%;
    }
    h2 {
      color: $main-color1;
      font-size: 4rem;
    }
  }
}
